<!DOCTYPE html>
<html lang="en">
<head></head>

<body>
  <div class="wrapper">
    <header class="page-header"><% include partials/_header %></header>

    <ul class="url-list">
      <h4>URL checklist</h4>
      <br />

      <% for (var key in urls) { %>
        <form method="POST" action="/urls/<%= key %>?_method=DELETE">
          <li>
            <%= key %> - <%= urls[key] %>
            <button type="submit" class="delete-button">Delete</button>
            <a href="/urls/<%= key %>" class="edit-link">Edit</a>
          </li>
        </form>
        <br />
      <% } %>
    </ul>
  </div>
</body>
</html>